<html>
    <script src="http://cdn.socket.io/stable/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.4.3.js"></script>
    <script>
    $(document).ready(function(){
        var socket = new io.Socket(null, {port: 3000});
        socket.on('connect', function(){
            $('pre').text('connected!');
        });
        socket.on('message', function(data){
            $('pre').text(data);
        });
        socket.connect();

    });
    </script>
    <body>
        <pre>nothing yet</pre>
    </body>
</html>

